<!-- about start-->
<div id="about" class="layout_padding about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div><img src="assets/images/cupcake-img.png" style="max-width: 100%;"></div>
            </div>
            <div class="col-md-6">
                <h1 class="about_text"><strong>{{title}} <span class="color">Shop</span></strong></h1>
                <p class="about_taital">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim ve niam, quis nostrud exercitationconsectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation</p>
                <button class="read_more"><a href="#">Read More</a></button>
            </div>
        </div>
    </div>
</div>