
<!-- Gallery start-->
<div id="gallery" class="layout_padding2 gallery_section mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="gallery_main">
                    <h1 class="gallery_taital"><strong><span class="our_text">Our</span> {{title}}</strong></h1>
                </div>
            </div>
            <div class="col-sm-12 gallery_maain">
                <div class="row">
                    <div class="col-sm-3 padding_0">
                        <div class="gallery_blog">
                            <img class="img-responive" src="assets/images/gallery-img1.png">
                            <div class="overlay">
                                <h2>Breakfast Breads</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding_0">
                        <div class="gallery_blog">
                            <img class="img-responive" src="assets/images/gallery-img2.png">
                            <div class="overlay">
                                <h2>Breakfast Breads</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding_0">
                        <div class="gallery_blog">
                            <img class="img-responive" src="assets/images/gallery-img3.png">
                            <div class="overlay">
                                <h2>Breakfast Breads</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 padding_0">
                        <div class="gallery_blog">
                            <img class="img-responive" src="assets/images/gallery-img4.png">
                            <div class="overlay">
                                <h2>Breakfast Breads</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Gallery-->