<header>
  <div class="layout_padding banner_section_start">
       <!-- header inner -->
       <div class="header">
          <div class="container">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo"><a href="#home"><img src="assets/images/logo.png" style="max-width: 100%;"></a> 
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                   <div class="menu-area">
                      <div class="limit-box">
                         <nav class="main-menu">
                            <ul class="menu-area-main">
                               <li class="active"><a routerLink="">Home</a></li>
                               <li><a routerLink="about">About</a></li>
                               <li><a routerLink="products">products</a></li>
                               <li><a routerLink="gallery">gallery</a></li>
                               <li><a routerLink="contact-us">Contact Us</a></li>
                            </ul>
                         </nav>
                      </div>
                   </div>
               </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->	

<router-outlet></router-outlet>

	<!-- contact start-->
  <div id="contact" class="contact_section">
    <div class="container">	
    <div class="contact-taital">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="contact_text"><strong>Contact Us</strong></h1>
        </div>
      </div>
    </div>
      <div class="row">	
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h2 class="adderess_text">Adderess</h2>
          <div class="image-icon"><img src="assets/images/map-icon.png"><span class="email_text">Gb road 123 london Uk </span></div>
          <div class="image-icon"><img src="assets/images/phone-icon.png"><span class="email_text">(+71) 56982424536</span></div>
          <div class="image-icon"><img src="assets/images/email-icon.png"><span class="email_text">bacerim@gmail.com</span></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h2 class="adderess_text">Useful Links</h2>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Bacerim Dictionary</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Help Links</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">bacerim Attitudes</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Call a Cutumer</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Help a Bacerim</span></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h2 class="adderess_text">Overview</h2>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Bacerim Dictionary</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">Help Links</span></div>
          <div class="image-icon"><img src="assets/images/bulit-icon.png"><span class="email_text">bacerim Attitudes</span></div>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="assets/images/fb-icon.png"></a></li>
              <li><a href="#"><img src="assets/images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="assets/images/google-icon.png"></a></li>
              <li><a href="#"><img src="assets/images/linkedin-icon.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <h2 class="adderess_text">Instagram</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="footer-img"><img src="assets/images/footer-img1.png" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
              <div class="footer-img"><img src="assets/images/footer-img2.png" style="width: 100%;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="footer-img"><img src="assets/images/footer-img2.png" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
              <div class="footer-img"><img src="assets/images/footer-img3.png" style="width: 100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- contact end-->
<!-- copyright start-->
  <div class="copyright_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="copyright_taital">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></p>
        </div>
      </div>
    </div>
  </div>
