<!-- product start-->
<div id="products" class="layout_padding product_section mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="product_text"><strong><span class="den">Our </span>{{title}}</strong></h1>
            </div>
        </div>
        <div class="product_section_2 images">
            <div class="row">
                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img1.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text croissants"><a href="#">Croissants Breakfast</a></h2>
                </div>
                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img2.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text"><a href="#">Roll Cake</a></h2>
                </div>
                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img3.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text"><a href="#">BreadFrench Toast</a></h2>
                </div>



                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img4.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text"><a href="#">Cup Cake</a></h2>
                </div>
                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img5.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text"><a href="#">Donut</a></h2>
                </div>
                <div class="col-sm-4">
                    <div class="images"><img src="assets/images/about-img6.png" style="max-width: 100%; width: 100%;"></div>
                    <h2 class="den_text"><a href="#">Chocolate Cup Cake</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product end-->